/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom theme colors */
:root {
  --theme-color-primary: #314450;
  /* green */
  --theme-color-primary-dark: #3730a3;
  /* Indigo-800 */
  --theme-color-secondary: #f59e0b;
  /* Amber-500 */
  --theme-color-secondary-dark: #d97706;
  /* Amber-600 */
  --theme-color-base: #ffffff;
  --theme-color-base-dark: #1f2937;
  /* Gray-800 */
  --theme-color-neutral: #6b7280;
  /* Gray-500 */
  --theme-color-neutral-dark: #4b5563;
  /* Gray-700 */
}

.quiz-box,
.menu-box {
  background-color: var(--theme-color-neutral-dark)
}

;

/* Apply the custom colors */
.bg-theme-color-primary {
  background-color: var(--theme-color-primary);
}

.bg-theme-color-primary-dark {
  background-color: var(--theme-color-primary-dark);
}

.bg-theme-color-secondary {
  background-color: var(--theme-color-secondary);
}

.bg-theme-color-secondary-dark {
  background-color: var(--theme-color-secondary-dark);
}

.bg-theme-color-base {
  background-color: var(--theme-color-base);
}

.bg-theme-color-base-dark {
  background-color: var(--theme-color-base-dark);
}

.bg-theme-color-neutral {
  background-color: var(--theme-color-neutral);
}

.bg-theme-color-neutral-dark {
  background-color: var(--theme-color-neutral-dark);
}

.text-theme-color-base {
  color: var(--theme-color-base);
}

.text-theme-color-primary {
  color: var(--theme-color-primary);
}

.text-theme-color-neutral {
  color: var(--theme-color-neutral);
}

.main-menu {
  background-color: #4ab1c5;
}